<div class="col-lg-8 mx-auto p-4 py-md-5">
	<script>
		var options = { "id": 6, "app": "\/\/forms.border.ventures\/app\/app", "tracker": "js\/form.tracker.js", "name": "#form-app", "actionUrl": "https:\/\/forms.border.ventures\/app\/app\/f?id=6", "validationUrl": "https:\/\/forms.border.ventures\/app\/app\/check?id=6", "_csrf": "0L7fuYrvM2FwNtQS4udxADyyxmqmEZW_4khPHLubTy-16qvh_4ZdVwNDn1vPqBxacuOiX8d_7Ny4eSot2d4eQw==", "resume": 0, "text_direction": "ltr", "autocomplete": 1, "novalidate": 0, "analytics": 1, "confirmationType": 0, "confirmationMessage": false, "confirmationUrl": "", "confirmationSeconds": null, "confirmationAppend": 0, "confirmationAlias": 0, "showOnlyMessage": 1, "redirectToUrl": 2, "rules": [{ "conditions": "{\"any\":[{\"any\":[{\"name\":\"matrix_1_1_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_2_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_2_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_3_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_4_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_5_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_6_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_7_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_8_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_9_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_0_0\",\"operator\":\"notEqualTo\",\"value\":\"0\"},{\"name\":\"matrix_1_0_2\",\"operator\":\"isIn\",\"value\":\"1\"}]}]}", "actions": "[{\"name\":\"action-select\",\"value\":\"evaluateMathFormula\",\"fields\":[{\"name\":\"formula\",\"value\":\"({{matrix_1_0_2}} + {{matrix_1_1_2}} + {{matrix_1_2_2}} + {{matrix_1_3_2}} + {{matrix_1_4_2}} + {{matrix_1_5_2}} + {{matrix_1_6_2}} + {{matrix_1_7_2}} + {{matrix_1_8_2}} + {{matrix_1_9_2}} + {{matrix_1_10_2}})\"},{\"name\":\"target\",\"value\":\"field\",\"fields\":[{\"name\":\"targetField\",\"value\":\"number_1\"}]}]}]", "opposite": false }], "fieldIds": ["selectlist_1", "selectlist_2", "selectlist_3", "selectlist_4", "selectlist_5", "selectlist_6", "date_1", "date_2", "matrix_1_0_0", "matrix_1_0_1", "matrix_1_0_2", "matrix_1_0_3", "matrix_1_1_0", "matrix_1_1_1", "matrix_1_1_2", "matrix_1_1_3", "matrix_1_2_0", "matrix_1_2_1", "matrix_1_2_2", "matrix_1_2_3", "matrix_1_3_0", "matrix_1_3_1", "matrix_1_3_2", "matrix_1_3_3", "matrix_1_4_0", "matrix_1_4_1", "matrix_1_4_2", "matrix_1_4_3", "matrix_1_5_0", "matrix_1_5_1", "matrix_1_5_2", "matrix_1_5_3", "matrix_1_6_0", "matrix_1_6_1", "matrix_1_6_2", "matrix_1_6_3", "matrix_1_7_0", "matrix_1_7_1", "matrix_1_7_2", "matrix_1_7_3", "matrix_1_8_0", "matrix_1_8_1", "matrix_1_8_2", "matrix_1_8_3", "matrix_1_9_0", "matrix_1_9_1", "matrix_1_9_2", "matrix_1_9_3", "number_1", "number_2", "number_7", "number_3", "textarea_1", "checkbox_1_0", "checkbox_1_1", "checkbox_1_2", "checkbox_1_3", "checkbox_1_4", "checkbox_1_5", "radio_1_0", "radio_1_1", "radio_1_2", "radio_1_3", "number_4", "number_6", "number_5", "textarea_2", "number_8", "hidden_signature_2", "hidden_signature_1", "button_1"], "submitted": false, "runOppositeActions": true, "skips": [], "reCaptchaVersion": "2", "reCaptchaSiteKey": "your_site_key", "defaultValues": false, "i18n": { "complete": "Complete", "unexpectedError": "An unexpected error has occurred. Please retry later." } };
	</script>

	<form action="https://forms.border.ventures/app/app/f?id=6" method="post" enctype="multipart/form-data" accept-charset="UTF-8" id="form-app">
		<fieldset class="row">

			<!-- Heading -->
			<div class="col-12">
				<h1>Tour Request</h1>
			</div>

			<!-- Select List -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="selectlist_1">City</label>
					<select id="selectlist_1" name="selectlist_1[]" data-alias="" class="form-select" required>
						<option value="Select One">Select One</option>
						<option value="Tijuana" selected>Tijuana</option>
						<option value="Rosarito">Rosarito</option>
						<option value="Tecate">Tecate</option>
						<option value="Ensenada">Ensenada</option>
						<option value="Valle de Guadalupe">Valle de Guadalupe</option>
						<option value="Mexicali">Mexicali</option>
					</select>
				</div>
			</div>

			<!-- Select List -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="selectlist_2">Tour Type</label>
					<select id="selectlist_2" name="selectlist_2[]" data-alias="" class="form-select" required>
						<option value="Select One">Select One</option>
						<option value="Cultural" selected>Cultural</option>
						<option value="Aventure">Aventure</option>
					</select>
				</div>
			</div>

			<!-- Select List -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="selectlist_3">Tour Theme</label>
					<select id="selectlist_3" name="selectlist_3[]" data-alias="" class="form-select" required>
						<option value="Select One">Select One</option>
						<option value="City Tour">City Tour</option>
						<option value="Food Tasting">Food Tasting</option>
						<option value="Craft Beer Tasting">Craft Beer Tasting</option>
						<option value="Wine Tasting">Wine Tasting</option>
						<option value="Sightseeing">Sightseeing</option>
						<option value="Art">Art</option>
						<option value="Night Life">Night Life</option>
						<option value="Other">Other</option>
					</select>
				</div>
			</div>

			<!-- Select List -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="selectlist_4">Class</label>
					<select id="selectlist_4" name="selectlist_4[]" data-alias="" class="form-select" required>
						<option value="Select One">Select One</option>
						<option value="Class A">Class A</option>
						<option value="Class B">Class B</option>
						<option value="Intro">Intro</option>
						<option value="Walking">Walking</option>
						<option value="Other">Other</option>
					</select>
				</div>
			</div>

			<!-- Select List -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="selectlist_5">PickUp Location</label>
					<select id="selectlist_5" name="selectlist_5[]" data-alias="" class="form-select" required>
						<option value="Select One">Select One</option>
					</select>
				</div>
			</div>

			<!-- Select List -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="selectlist_6">DropOff Location</label>
					<select id="selectlist_6" name="selectlist_6[]" data-alias="" class="form-select" required>
						<option value="Select One">Select One</option>
					</select>
				</div>
			</div>

			<!-- Date -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="date_1">Start Date and Time</label>
					<input type="datetime-local" id="date_1" name="date_1" value="" data-alias="" class="form-control" required>
				</div>
			</div>

			<!-- Date -->
			<div class="col-6">
				<div class="form-group required-control">
					<label class="form-label" for="date_2">End Date and Time</label>
					<input type="datetime-local" id="date_2" name="date_2" value="" data-alias="" class="form-control" required>
				</div>
			</div>

			<p class="form-text">Total entries: <span id="totalEntries"></span></p>

			<!-- Matrix -->
			<div class="col-12">
				<div class="form-group">
					<table id="matrix_1" class="table-matrix table table-striped table-hover" data-matrix-type="text">
						<caption>
							<label for="matrix_1" class="form-label">Answer the following questions</label>
						</caption>
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th class="text-center">Reference #</th>
								<th class="text-center">Traveler Name</th>
								<th class="text-center"># PAX</th>
								<th class="text-center">Phone</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>
									<label for="matrix_1_0">Group 1</label>
								</th>
								<td class="text-center matrix_1_q_1 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_0_0" name="matrix_1_0_0" data-label="Group 1 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_1 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_0_1" name="matrix_1_0_1" data-label="Group 1 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_1 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_0_2" name="matrix_1_0_2" data-label="Group 1 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_1 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_0_3" name="matrix_1_0_3" data-label="Group 1 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 1" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_1">Group 2</label>
								</th>
								<td class="text-center matrix_1_q_2 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_1_0" name="matrix_1_1_0" data-label="Group 2 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_2 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_1_1" name="matrix_1_1_1" data-label="Group 2 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_2 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_1_2" name="matrix_1_1_2" data-label="Group 2 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_2 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_1_3" name="matrix_1_1_3" data-label="Group 2 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 2" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_2">Group 3</label>
								</th>
								<td class="text-center matrix_1_q_3 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_2_0" name="matrix_1_2_0" data-label="Group 3 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_3 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_2_1" name="matrix_1_2_1" data-label="Group 3 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_3 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_2_2" name="matrix_1_2_2" data-label="Group 3 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_3 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_2_3" name="matrix_1_2_3" data-label="Group 3 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 3" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_3">Group 4</label>
								</th>
								<td class="text-center matrix_1_q_4 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_3_0" name="matrix_1_3_0" data-label="Group 4 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_4 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_3_1" name="matrix_1_3_1" data-label="Group 4 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_4 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_3_2" name="matrix_1_3_2" data-label="Group 4 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_4 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_3_3" name="matrix_1_3_3" data-label="Group 4 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 4" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_4">Group 5</label>
								</th>
								<td class="text-center matrix_1_q_5 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_4_0" name="matrix_1_4_0" data-label="Group 5 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_5 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_4_1" name="matrix_1_4_1" data-label="Group 5 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_5 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_4_2" name="matrix_1_4_2" data-label="Group 5 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_5 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_4_3" name="matrix_1_4_3" data-label="Group 5 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 5" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_5">Group 6</label>
								</th>
								<td class="text-center matrix_1_q_6 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_5_0" name="matrix_1_5_0" data-label="Group 6 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_6 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_5_1" name="matrix_1_5_1" data-label="Group 6 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_6 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_5_2" name="matrix_1_5_2" data-label="Group 6 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_6 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_5_3" name="matrix_1_5_3" data-label="Group 6 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 6" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_6">Group 7</label>
								</th>
								<td class="text-center matrix_1_q_7 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_6_0" name="matrix_1_6_0" data-label="Group 7 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_7 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_6_1" name="matrix_1_6_1" data-label="Group 7 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_7 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_6_2" name="matrix_1_6_2" data-label="Group 7 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_7 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_6_3" name="matrix_1_6_3" data-label="Group 7 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 7" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_7">Group 8</label>
								</th>
								<td class="text-center matrix_1_q_8 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_7_0" name="matrix_1_7_0" data-label="Group 8 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_8 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_7_1" name="matrix_1_7_1" data-label="Group 8 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_8 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_7_2" name="matrix_1_7_2" data-label="Group 8 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_8 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_7_3" name="matrix_1_7_3" data-label="Group 8 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 8" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_8">Group 9</label>
								</th>
								<td class="text-center matrix_1_q_9 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_8_0" name="matrix_1_8_0" data-label="Group 9 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_9 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_8_1" name="matrix_1_8_1" data-label="Group 9 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_9 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_8_2" name="matrix_1_8_2" data-label="Group 9 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_9 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_8_3" name="matrix_1_8_3" data-label="Group 9 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 9" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
							<tr>
								<th>
									<label for="matrix_1_9">Group 10</label>
								</th>
								<td class="text-center matrix_1_q_10 matrix_1_a_1" title="Reference #">
									<input type="text" id="matrix_1_9_0" name="matrix_1_9_0" data-label="Group 10 > Reference #" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="Reference #" class="form-control">

								</td>
								<td class="text-center matrix_1_q_10 matrix_1_a_2" title="Traveler Name">
									<input type="text" id="matrix_1_9_1" name="matrix_1_9_1" data-label="Group 10 > Traveler Name" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="Traveler Name" class="form-control">

								</td>
								<td class="text-center matrix_1_q_10 matrix_1_a_3" title="# PAX">
									<input type="text" id="matrix_1_9_2" name="matrix_1_9_2" data-label="Group 10 > # PAX" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="# PAX" class="form-control">

								</td>
								<td class="text-center matrix_1_q_10 matrix_1_a_4" title="Phone">
									<input type="text" id="matrix_1_9_3" name="matrix_1_9_3" data-label="Group 10 > Phone" data-matrix-id="matrix_1" data-matrix-label="Answer the following questions" data-matrix-question="Group 10" data-matrix-answer="Phone" class="form-control">

								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<!-- Number -->
			<div class="col-6">
				<div class="form-group">
					<label class="form-label" for="number_1">Total PAX #</label>
					<input type="number" id="number_1" name="number_1" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Number -->
			<div class="col-6">
				<div class="form-group">
					<label class="form-label" for="number_2">Traveler Budget</label>
					<input type="number" id="number_2" name="number_2" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Number -->
			<div class="col-12">
				<div class="form-group">
					<label class="form-label" for="number_7">Number Field</label>
					<input type="number" id="number_7" name="number_7" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Number -->
			<div class="col-12">
				<div class="form-group">
					<label class="form-label" for="number_3">Total Traveler Budget</label>
					<input type="number" id="number_3" name="number_3" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Text Area -->
			<div class="col-12">
				<div class="form-group">
					<label class="form-label" for="textarea_1">Special Indications for tour and travelers</label>
					<textarea id="textarea_1" name="textarea_1" rows="3" data-alias="" class="form-control"></textarea>
				</div>
			</div>

			<!-- Checkbox -->
			<div class="col-6">
				<div class="form-group">
					<label class="form-label" for="checkbox_1">Assign Local Guide</label>
					<div class="form-check">
						<input type="checkbox" name="checkbox_1[]" id="checkbox_1_0" class="form-check-input" value="Tadeo" data-alias=""><label for="checkbox_1_0" class="form-check-label">
							Tadeo </label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="checkbox_1[]" id="checkbox_1_1" class="form-check-input" value="Alex" data-alias=""><label for="checkbox_1_1" class="form-check-label">
							Alex </label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="checkbox_1[]" id="checkbox_1_2" class="form-check-input" value="Victor" data-alias=""><label for="checkbox_1_2" class="form-check-label">
							Victor </label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="checkbox_1[]" id="checkbox_1_3" class="form-check-input" value="Marisol" data-alias=""><label for="checkbox_1_3" class="form-check-label">
							Marisol </label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="checkbox_1[]" id="checkbox_1_4" class="form-check-input" value="Andres" data-alias=""><label for="checkbox_1_4" class="form-check-label">
							Andres </label>
					</div>
					<div class="form-check">
						<input type="checkbox" name="checkbox_1[]" id="checkbox_1_5" class="form-check-input" value="Humberto" data-alias=""><label for="checkbox_1_5" class="form-check-label">
							Humberto </label>
					</div>
					<span id="checkbox_1"></span>

				</div>
			</div>

			<!-- Radio -->
			<div class="col-6">
				<div class="form-group">
					<label class="form-label" for="radio_1">Is there any other extra expense, select the reason</label>
					<div class="form-check">
						<input type="radio" name="radio_1" id="radio_1_0" class="form-check-input" value="None" data-alias="">
						<label for="radio_1_0" class="form-check-label">
							None
						</label>
					</div>
					<div class="form-check">
						<input type="radio" name="radio_1" id="radio_1_1" class="form-check-input" value="Training Local Guide" data-alias="">
						<label for="radio_1_1" class="form-check-label">
							Training Local Guide
						</label>
					</div>
					<div class="form-check">
						<input type="radio" name="radio_1" id="radio_1_2" class="form-check-input" value="Extra Expenses" data-alias="">
						<label for="radio_1_2" class="form-check-label">
							Extra Expenses
						</label>
					</div>
					<div class="form-check">
						<input type="radio" name="radio_1" id="radio_1_3" class="form-check-input" value="Other" data-alias="">
						<label for="radio_1_3" class="form-check-label">
							Other
						</label>
					</div>
					<span id="radio_1"></span>

				</div>
			</div>

			<!-- Number -->
			<div class="col-12">
				<div class="form-group">
					<label class="form-label" for="number_4">Extra Expenses</label>
					<input type="number" id="number_4" name="number_4" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Number -->
			<div class="col-6">
				<div class="form-group">
					<label class="form-label" for="number_6">Total Local Guide 1 Payment</label>
					<input type="number" id="number_6" name="number_6" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Number -->
			<div class="col-6">
				<div class="form-group">
					<label class="form-label" for="number_5">Total Local Guide 2 Payment</label>
					<input type="number" id="number_5" name="number_5" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Text Area -->
			<div class="col-12">
				<div class="form-group">
					<label class="form-label" for="textarea_2">Adjustment Notes</label>
					<textarea id="textarea_2" name="textarea_2" rows="3" data-alias="" class="form-control"></textarea>
				</div>
			</div>

			<!-- Number -->
			<div class="col-12">
				<div class="form-group">
					<label class="form-label" for="number_8">Total Cost</label>
					<input type="number" id="number_8" name="number_8" value="" data-alias="" class="form-control">
				</div>
			</div>

			<!-- Button -->
			<div class="col-12">
				<div class="form-action">
					<button type="submit" id="button_1" name="button_1" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</fieldset>
		<div class="" style="display:none"><label class="control-label" for="_email">Excuse me, but leave this field in blank</label><input type="text" id="_email" class="form-control" name="_email"></div>
	</form>
</div>
